.unicorn {
  /* container-type: inline-size; */
  align-items: end;
  transition:
    left var(--sp) ease-out,
    top var(--sp) ease-out;
  transform-origin: center bottom;
}

.unicorn.move {
  animation: jump var(--sp) ease-out infinite;
}

.unicorn.sink {
  animation: fall var(--sp) ease-in forwards;
}

.unicorn.invert {
  filter: hue-rotate(90deg);
}

.unicorn.right::before {
  transform: scaleX(-1);
}

.unicorn::before {
  background-size: contain;
  content: "🦄";
  /* font-size: 85cqw; */
  height: 100%;
  position: absolute;
  width: 100%;
  font-size: calc(var(--size) * 0.8);
}

@keyframes jump {
  /* Preparándose para saltar */
  0% {
    transform: translateY(0) scaleX(1.15) scaleY(0.8);
  }

  /* Se estira y despega */
  25% {
    transform: translateY(2px) scaleX(0.85) scaleY(1.2);
  }

  /* Punto más alto */
  55% {
    transform: translateY(-8px) scaleX(0.9) scaleY(1.15);
  }

  /* Preparándose para caer */
  75% {
    transform: translateY(-4px) scaleX(1.05) scaleY(0.95);
  }

  /* Aterrizaje */
  90% {
    transform: translateY(1px) scaleX(1.2) scaleY(0.75);
  }

  /* Recupera su forma */
  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
}
