.pag-s {
  align-content: flex-end;
  flex-flow: wrap;
  gap: 10px;
  margin-top: 60px;
  row-gap: 15px;
}

.pag-s .button {
  font-size: 20px;
  height: 20px;
  padding: 20px;
  text-shadow: none;
  width: 20px;
}

.pag-s .button:disabled {
  opacity: 0.5;
}

.pag-s .button.active {
  background: #ff5722;
}
