.pag-s {
  align-content: flex-end;
  flex-flow: wrap;
  gap: 20px;
  margin-top: 60px;
}

.pag-s .button {
  font-size: 30px;
  height: 70px;
  padding: 20px;
  text-shadow: none;
  width: 70px;
}

.pag-s .button:disabled {
  color: #785ec6;
  background: white;
}

.pag-s .button.active {
  opacity: 0.8;
}
