.lob-c h1 {
  -webkit-text-stroke: 9px white;
  letter-spacing: 5px;
  color: #ff7068;
  font-weight: bold;
  line-height: 50px;
  margin: 30px 0;
  padding-top: 20px;
  paint-order: stroke fill;
}

.lob-c .unicorns {
  position: relative;
  margin: 30px;
  display: flex;
  overflow: hidden;
  height: 140px;
}

.lob-c .rain {
  position: absolute;
  --size: 100%;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  background: radial-gradient(
    circle,
    transparent 0 38%,
    #9c27b0 38% 44%,
    #2196f3 44% 50%,
    #4caf50 50% 56%,
    #ffeb3b 56% 62%,
    #ff9800 62% 68%,
    #f44336 68% 74%,
    transparent 74%
  );
}

.lob-c .unicorn {
  position: relative;
  z-index: 2;
  transform: translate(8%, 20%);
  text-shadow: -9px 2px #000;
}

.lob-c .unicorn::before {
  font-size: calc(var(--size) * 0.8);
}

.lob-c .unicorn.right {
  transform: translate(-8%, 20%);
}

.lob-c h1 span {
  display: block;
}

.lob-c h1 span:first-child {
  color: #ff6bae;
  margin-bottom: 6px;
}

.lob-c h1 span:first-child,
.lob-c h1 span:last-child {
  font-size: 55px;
}

.lob-c p {
  margin: 20px;
}

.lob-c p,
.lob-c h1 {
  text-align: center;
}

.lob-c .lob-l {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.lob-c a,
.lob-c a:visited {
  color: white;
}
