modal {
  position: absolute;
  z-index: 100;
  background: rgb(0 0 0 / 50%);
  width: 300%;
  height: 300%;
}

modal.hide {
  pointer-events: none;
  visibility: hidden;
  transition: visibility 100ms;
}

modal.show {
  visibility: visible;
}

.ms.co {
  width: var(--bw);
  height: var(--bh);
  position: relative;
}

.ms,
.mw {
  left: 0;
  position: absolute;
  top: 0;
}

.mw {
  z-index: 1;
}

.mc {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
}

.mc .txt {
  color: #8f9cb5;
  padding: 20px;
  flex-direction: column;
}

.mb button {
  width: 100%;
  border: none;
  height: 60px;
  background: #fd72ab;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}

.mb button:nth-child(2) {
  background: #b6bece;
}

modal.show .mc {
  animation: fD 400ms both;
}

modal.hide .mc {
  animation: fUp 400ms both;
}

@keyframes fD {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
