.brick {
  /* border: 1px solid red; */
  /* display: flex;
  justify-content: center;
  align-items: center; */

  --c1: #ffba8f;
  --c2: #ff7b5a;
  --g: conic-gradient(at 90% 40%, #0000 75%, var(--c1) 0);
  --sg: calc(var(--size) / 2);

  background:
    var(--g),
    var(--g) var(--sg) var(--sg) var(--c2);
  background-size: calc(2 * var(--sg)) calc(2 * var(--sg));

  /* box-shadow:
    0px 6px 4px rgba(0, 0, 0, 0.4),
    0 7px 13px -3px rgba(0, 0, 0, 0.3),
    inset 2px -4px 0 rgba(0, 0, 0, 0.2); */
}

/* .brick::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;

  --c1: #ffba8f;
  --c2: #ff7b5a;
  --g: conic-gradient(at 90% 40%, #0000 75%, var(--c1) 0);
  --sg: calc(var(--size) / 3.1);

  background:
    var(--g),
    var(--g) var(--sg) var(--sg) var(--c2);
  background-size: calc(2 * var(--sg)) calc(2 * var(--sg));

  box-shadow:
    0px 6px 4px rgba(0, 0, 0, 0.4),
    0 7px 13px -3px rgba(0, 0, 0, 0.3),
    inset 2px -4px 0 rgba(0, 0, 0, 0.2);
} */
